// Header text feature


@media screen and (max-width: 576px) {
    div.call-out {
    font-size: 1em;
      }
}

.call-out {
  @extend %padding-regular;
  padding: 5% 20%;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color
}
// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a {
      @extend .body-link;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// header
.page-link {
  font-family: 'Raleway', sans-serif;
  margin-left: 0.5em;
}

.excerpt_href {
  color: $text-color;
    &:hover {
      color: darken($text-color, 15%);
    }
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: 5% $padding-large 5% $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: 8%;
    font-size: 0.8em;
  }
}
