.tag-label {
  display: inline-block;
  margin-right: 0.6em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  border: 1px solid $border-color;
  color: rgb(55, 61, 68);
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  .title {
    border-right: 1px solid $border-color;
    background: rgb(243, 243, 243);
    padding: 0.4em 0.6em;
  }

  .postNumber {
    padding: 0.4em 0.6em;
  }
}

.tag-title {
  margin-bottom: 0;

  a {
    color: $tags-color;
  }

  a:hover {
    color: $tags-color;
    text-decoration: none;
    cursor: default;
  }
}

.tagged-post {
  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
}