---
layout: default
---

<div class="about">
    <div class="astronaut-me">
        <img src="{{ "/assets/img/Astronaut-me.png" | absolute_url }}" alt=""/>
    </div>
    <div class="about-me">
        <div class="title">안녕하세요,
            <span class="title-newline"></span><b>장윤정</b>이라고 합니다</span>
        </div>
        <div class="desc">2년차 웹 개발자입니다</div>
        <div class="desc">현재 서울에 거주중입니다</div>
        <div class="desc">백엔드로 시작하였지만</div>
        <div class="desc">프론트엔드를 하고 있으며</div>
        <div class="desc">디자인도 넘보는 중입니다</div>
    </div>
    <div class="galaxy-square">
        <div class="star" id="star1"></div>
        <div class="star" id="star2"></div>
        <div class="star" id="star3"></div>
        <div class="star" id="star4"></div>
        <div class="star" id="star5"></div>
        <div class="star" id="star6"></div>
        <div class="star" id="star7"></div>
        <div class="star" id="star8"></div>
        <div class="star" id="star9"></div>
        <div class="star" id="star10"></div>
        <div class="star" id="star11"></div>
        <div class="star" id="star12"></div>
        <div class="star" id="star13"></div>
        <div class="star" id="star14"></div>
    </div>
</div>
