---
layout: default
---

<div class="home">
  <div class="posts" id="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h3>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        <a class="excerpt_href" href="{{ post.url | relative_url }}">
          {{ post.excerpt }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{{ "/assets/lib/InfiniteScroll.js" | relative_url }}"></script>
<script>
    var postWrapperId = 'posts';
    var paginatePath = '/page/';
    new InfiniteScroll(paginatePath, postWrapperId);
</script>