---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
	<div class="galaxy-square">
		<div class="star" id="star1"></div>
		<div class="star" id="star2"></div>
		<div class="star" id="star3"></div>
		<div class="star" id="star4"></div>
		<div class="star" id="star5"></div>
		<div class="star" id="star6"></div>
		<div class="star" id="star7"></div>
		<div class="star" id="star8"></div>
		<div class="star" id="star9"></div>
		<div class="star" id="star10"></div>
		<div class="star" id="star11"></div>
		<div class="star" id="star12"></div>
		<div class="star" id="star13"></div>
		<div class="star" id="star14"></div>
	</div>
  {% endif %}
  </div>
  <div class="posts" id="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h3>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        <a class="excerpt_href" href="{{ post.url | relative_url }}">
          {{ post.excerpt }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{{ "/assets/lib/InfiniteScroll.js" | relative_url }}"></script>
<script>
    var postWrapperId = 'posts';
    var paginatePath = '/page/';
    new InfiniteScroll(paginatePath, postWrapperId);
</script>